[Desktop Entry]
Type=Application
Name=get_iplayer
Comment=Download television and radio programmes from BBC iPlayer
NoDisplay=true
Icon=get_iplayer
Exec=get_iplayer %u
Terminal=true
MimeType=x-scheme-handler/bbc-ipd;
Categories=AudioVideo;Network;Recorder;ConsoleOnly;
